*{
    transition: all 0.4s;
}
.contact{
    padding: 4%;
}
.col-md-3{
    background: rgba(57, 59, 68, 0.9);
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}
.shadow-lg{
    box-shadow: 4px 4px 100px black ;
}
.logo-conn{
    position:fixed;
    border-radius:100%;
    bottom:0;left:0;
    background: #25274d;
}